<button class="bg-ctp-blue text-ctp-base rounded border border-ctp-surface0 p-1" hx-swap="outerHTML"
        hx-get="{{ url('app_transaction_new') }}">
    <i class="fa-solid fa-plus"></i> Add Transaction
</button>
