{% extends 'base.html.twig' %}

{% block body %}
    <h1>Budget Manager Home</h1>
    <div id="add-budget">
        <button hx-swap="outerHTML" hx-get="{{ url('app_budget_new') }}">Add Budget</button>
    </div>

    {% for budget in budgets %}
        {% include "budget/budget.html.twig" %}
    {% endfor %}
{% endblock %}
