<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Budgeteer{% endblock %}</title>
        <link rel="icon" href="{{asset('images/favicon.svg')}}">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="mocha bg-base text-text">
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        <footer>
    </body>
</html>
