<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Budgeteer{% endblock %}</title>
        <link rel="icon" href="{{asset('images/favicon.svg')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{url('app_home_home')}}">Home</a></li>
                <li><a href="{{url('app_budget_dashboard')}}">Budget dashboard</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer>
    </body>
</html>
